/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  min-width: 400px; }

#menu {
  background: #333;
  height: 3em;
  width: 100%;
  min-width: 425px;
  z-index: 9999;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25); }
  #menu #logo {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 8px solid #eee;
    display: none; }
  #menu h1 {
    color: #eee;
    margin-top: .2em;
    font: 2em "Passion One", sans-serif;
    display: none;
    float: left;
    padding-left: 75px; }
  #menu .menu-button {
    height: 2.5em;
    height: 2.5em;
    padding: .25em;
    float: right; }

/* applied by main.js for sticky menu */
.js-menu-stick {
  position: fixed;
  top: 0; }

header {
  background: linear-gradient(180deg, transparent, #333 95%), url("../img/me.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 10px;
  height: 350px; }
  header h1 {
    font: 2.5em "Passion One", sans-serif;
    color: #fff; }
  header h2 {
    font: 1.75em "Passion One", sans-serif;
    color: #ddd; }
  header p {
    margin: 75px auto 0;
    font: 1.1em "Roboto", sans-serif;
    color: #eee;
    text-align: center; }
  @media only screen and (min-width: 750px) {
    header {
      background: linear-gradient(180deg, transparent, #333 95%), url("../img/me.jpg") no-repeat top;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      header h1 {
        font-size: 4em; }
      header h2 {
        font-size: 2.5em; } }

.story-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkite-flex-direction: column;
  flex-direction: column; }
  .story-wrapper .story {
    width: 100%; }
    @media only screen and (min-width: 750px) {
      .story-wrapper .story {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: flex-end;
        justify-content: flex-end; } }
    .story-wrapper .story .content-light {
      margin: 50px 25px 0;
      background: linear-gradient(180deg, transparent, rgba(51, 51, 51, 0.4) 10%, #333 95%); }
      .story-wrapper .story .content-light h1 {
        color: #eee; }
    .story-wrapper .story .content-blue {
      margin: 50px 25px 0;
      background: linear-gradient(180deg, transparent, rgba(51, 102, 153, 0.3) 10%, rgba(51, 102, 153, 0.8) 90%); }
      .story-wrapper .story .content-blue h1 {
        color: #eee; }
    .story-wrapper .story h1 {
      padding: 20px 0 0 10px;
      font: 2.5em "Passion One", sans-serif; }
    .story-wrapper .story p {
      margin: 1em 5%;
      font: 1em "Roboto", sans-serif;
      color: #eee; }
  .story-wrapper #amue {
    background: linear-gradient(180deg, transparent, rgba(204, 204, 204, 0.7) 25%, rgba(168, 168, 168, 0.9) 95%), url("../img/running-belay.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .story-wrapper #hftd {
    background: url("../img/hftd.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .story-wrapper #boost {
    background: linear-gradient(180deg, transparent, rgba(168, 168, 168, 0.9) 95%), url("../img/boost.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .story-wrapper #its {
    background: linear-gradient(180deg, transparent, #369 95%), url("../img/its_cover.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .story-wrapper #ata {
    background: url("../img/ata.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  @media only screen and (min-width: 800px) {
    .story-wrapper {
      -webkite-flex-direction: row;
      flex-direction: row; } }

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px; }

blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

.btn-group {
  width: 100%;
  text-align: center;
  padding: 20px 0; }
  .btn-group .btn-link,
  .btn-group .btn-link:link,
  .btn-group .btn-link:visited,
  .btn-group .btn-link:hover,
  .btn-group .btn-link:active {
    margin: 0;
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #eee;
    box-sizing: border-box;
    height: 60px;
    width: 200px;
    border: 2px solid #eee;
    border-radius: 30px; }

footer {
  height: 75px;
  background: #333;
  border-top: 1px solid #eee; }
  footer p {
    padding: 15px;
    text-align: right;
    font-family: "Passion One", sans-serif; }
  footer a,
  footer a:link,
  footer a:visited,
  footer a:hover,
  footer a:active {
    font-size: 1.5em;
    color: #eee;
    text-align: right; }

/*# sourceMappingURL=styles.css.map */
